APP_NAME="Neksa ERP"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000
APP_PORT=8000

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=neksa_erp
DB_USERNAME=neksa
# TROQUE esta senha antes de instalar
DB_PASSWORD=troque-esta-senha

SESSION_DRIVER=database
SESSION_LIFETIME=480
QUEUE_CONNECTION=database
CACHE_STORE=redis
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null

MAIL_MAILER=log
MAIL_FROM_ADDRESS="erp@localhost"
MAIL_FROM_NAME="${APP_NAME}"
